<mat-dialog-content>
  <div class="carousel-container">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let image of project.images">
        <ng-template carouselSlide>
          <img class="carousel-image" [src]="image" [alt]="project.title">
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
  <p class="center-text">The <a href="{{ project.githubLink }}" target="_blank">github</a> link for this repo.</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>
