<!-- notification for small viewports and landscape oriented smartphones -->
<div class="device-notification">
  <a class="device-notification--logo" href="#0">
    <img src="/assets/img/logo.png" alt="Global">
    <p>Global</p>
  </a>
  <p class="device-notification--message">Global has so much to offer that we must request you orient your device to portrait or find a larger screen. You won't be disappointed.</p>
</div>
<div class="perspective effect-rotate-left">
  <div class="container"><div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo" href="#0">
            <img src="/assets/img/logo.png" alt="Global">
            <p>Mbk</p>
          </a>
          <button class="header--cta cta">Contact</button>
          <div class="header--nav-toggle">
            <span></span>
          </div>
        </header>
        <nav class="l-side-nav">
          <ul class="side-nav">
            <li class="is-active"><span>Home</span></li>
            <li><span>Projects</span></li>
            <li><span>About</span></li>
            <li><span>Blog</span></li>
            <li><span>Contact</span></li>
          </ul>
        </nav>
        <ul class="l-main-content main-content">
          <li class="l-section section section--is-active">
            <div class="intro">
              <div class="intro--banner">
                <app-visitcard></app-visitcard>
                <button class="cta">Contact
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                  <span class="btn-background"></span>
                </button>
              </div>

              <div class="intro--options">
                <div *ngFor="let tech of techs" class="tech-item">
                  <a>
                    <h3>{{ tech.tech }}</h3>
                    <p>{{ tech.description }}</p>
                  </a>
                </div>
              </div>

            </div>
            <div id="scroll-notification">Scroll down!</div>
          </li>
          <li class="l-section section">
            <div class="work">
              <h2>My Projects</h2>
              <div class="work--lockup">
                <ul class="slider">
                  <li class="slider--item" *ngFor="let project of projects; let i = index"
                      [ngClass]="{
                        'slider--item-left': i === getLeftIndex(),
                        'slider--item-center': i === currentIndex,
                        'slider--item-right': i === getRightIndex()
                      }"
                      (click)="openProjectDetail(project)">
                    <div class="slider--item-image">
                      <img [src]="project.thumbnail" alt="{{ project.title }}">
                    </div>
                    <p class="slider--item-title">{{ project.title }}</p>
                    <p class="slider--item-description">{{ project.description }}</p>
                  </li>
                </ul>
                <div class="slider--prev" (click)="prevSlide()">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                    c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                    c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z"/>
                  </g>
                  </svg>
                </div>
                <div class="slider--next" (click)="nextSlide()">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                      <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                    </g>
                    </svg>
                </div>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="about">
              <div class="about--banner">
                <h2>We<br>believe in<br>passionate<br>people</h2>
                <a href="https://drive.google.com/file/d/1v_3AOUCTzdaguk748S9lrflfIOncAuMG/view?usp=sharing">Resume
                  <span>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                      <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                    </g>
                    </svg>
                  </span>
                </a>
              </div>
              <app-about-socialmeadia></app-about-socialmeadia>
            </div>
          </li>
          <li class="l-section section">
            <div class="social">
              <div class="social--lockup">
                <app-blog></app-blog>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="contactme">
              <div class="containers">
                <div class="screen">
                  <div class="screen-header">
                    <div class="screen-header-left">
                      <div class="screen-header-button close"></div>
                      <div class="screen-header-button maximize"></div>
                      <div class="screen-header-button minimize"></div>
                    </div>
                    <div class="screen-header-right">
                      <div class="screen-header-ellipsis"></div>
                      <div class="screen-header-ellipsis"></div>
                      <div class="screen-header-ellipsis"></div>
                    </div>
                  </div>
                  <div class="screen-body">
                    <div class="screen-body-item left">
                      <div class="app-title">
                        <span>CONTACT</span>
                        <span>ME</span>
                      </div>
                      <div class="app-contact">CONTACT INFO : mustafabirkankaraer</div>
                    </div>
                    <div class="screen-body-item">
                      <div class="app-form">
                        <form #contactForm="ngForm" (ngSubmit)="submitForm(contactForm)" novalidate>
                          <div class="app-form-group">
                              <input class="app-form-control" placeholder="NAME" name="name" [(ngModel)]="contactData.name" required [ngClass]="{ 'is-invalid': contactForm.submitted && contactForm.controls['name'].invalid }">
                          </div>
                          <div class="app-form-group">
                              <input type="email" class="app-form-control" placeholder="EMAIL" name="email" [(ngModel)]="contactData.email" required [ngClass]="{ 'is-invalid': contactForm.submitted && contactForm.controls['email'].invalid }">
                          </div>
                          <div class="app-form-group">
                              <input class="app-form-control" placeholder="SUBJECT" name="subject" [(ngModel)]="contactData.subject" required [ngClass]="{ 'is-invalid': contactForm.submitted && contactForm.controls['subject'].invalid }">
                          </div>
                          <div class="app-form-group message">
                              <input class="app-form-control" placeholder="MESSAGE" name="message" [(ngModel)]="contactData.message" required [ngClass]="{ 'is-invalid': contactForm.submitted && contactForm.controls['message'].invalid }">
                          </div>
                          <div class="app-form-group buttons">
                              <button type="button" class="app-form-button" (click)="clearForm()">CANCEL</button>
                              <button type="submit" class="app-form-button">SEND</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="outer-nav">
    <li class="is-active">Home</li>
    <li>Projects</li>
    <li>About</li>
    <li>Blog</li>
    <li>Contact</li>
  </ul>
</div>
