<div class="social-media-buttons">
  <a href="https://github.com/birkankaraer" class="social-btn github" target="_blank">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://www.linkedin.com/in/mustafabirkankaraer/" class="social-btn linkedin" target="_blank">
    <i class="fab fa-linkedin-in"></i>
  </a>
  <a href="https://medium.com/@karaermustafabirkan" class="social-btn medium" target="_blank">
    <i class="fab fa-medium"></i>
  </a>
  <a href="https://stackoverflow.com/users/22879208/mustafa-birkan-karaer" class="social-btn stackoverflow" target="_blank">
    <i class="fab fa-stack-overflow"></i>
  </a>
</div>
